---
# Configure Timerzone
icpc_timezone: 'Europe/Athens'

# Configure the ICPC admin password. Is this the system admin password or the password of the
# Tool they use to host the contest. Probably they create another user, apart from the team
# That has access to the contest server.
icpcadmin_pass: icpcadmin

#This is fine as long as we understand how the languages are beeing set up.
# Check the java version that is beeing downloaded
languages:
  - c
  - cpp
  - java
  - python3

devtools:
  - codeblocks
  - geany
  - vscode
  - intellij-idea
  - intellij-pycharm
  - netbeans

vscode_extensions:
  # C/C++
  - ms-vscode.cpptools-extension-pack
  # Python
  - ms-python.python
  - kevinrose.vsc-python-indent
  - visualstudioexptteam.vscodeintellicode
  # Java
  - vscjava.vscode-java-pack
  # Misc
  - vscodevim.vim
  - lfs.vscode-emacs-friendly
  # Themes
  - akamud.vscode-theme-onedark
  - akamud.vscode-theme-onelight
  - tgreen7.one-monokai-dark
  - jprestidge.theme-material-theme
